@page
@model spoti_stats.Pages.Stats.ArtistsModel
@{
    Layout = "_LoggedLayout";
    ViewBag.Title = "Top artists";
}
<div class="container-sm p-3">
    <div class="list-group w-auto">
            @foreach (var item in Model.top_artists.Items)
            {

            <a href="https://open.spotify.com/artist/@item.Id" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="@item.Images.FirstOrDefault().Url" alt="@item.Name" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">@item.Name</h6>
                        <p class="mb-0 opacity-75">Followers: <script>document.write(convert(@item.Followers.Total))</script></p>
                        <p class="mb-0 opacity-75">Genres: @string.Join( ", ",@item.Genres.ToArray() )</p>
                    </div>
                </div>
            </a>
            }
            
                

    </div>
</div>