<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - (logged) SpotiStats</title>
    <link rel
    </head>
<body class="bg-dark ">
    <script src="~/js/site.js" asp-append-version="true"></script>
    <nav class="navbar navbar-dark bg-dark py-3 navbar-expand-sm sticky-top" role="navigation">
        <div class="container-sm ">
            <a class="navbar-brand" href="#">
                <img src="https://cdn2.downdetector.com/static/uploads/logo/Spotify_Logo_RGB_Green.png" alt="Logo" height="36" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav active">
                    <li class="nav-item">
                        <a asp-page="/Stats/Index" class="nav-link @(ViewBag.Title == "Home" ? "active" : "")">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Stats/Tracks" class="nav-link @(ViewBag.Title == "Top tracks" ? "active" : "")">Top songs</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Stats/Artists" class="nav-link @(ViewBag.Title == "Top artists" ? "active" : "")">Top artists</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Stats/Index" class="nav-link @(ViewBag.Title == "Scheduler" ? "active" : "")">Top albums</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Stats/Index" class="nav-link @(ViewBag.Title == "Scheduler" ? "active" : "")">Top genres</a>
                    </li>
                </ul>
            </div>
            <div class="nav-item d-flex flex-row-reverse" id="">
                <a id="target"><div class="btn btn-outline-danger btn-lg">Log out</div></a>
            </div>

        </div>
    </nav>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <script>
        (function () {
            document.getElementById("target").onclick = function () {
                var wnd = window.open("https://www.spotify.com/logout/");
                setTimeout(function () {
                    wnd.close();
                    window.location.href = "../"
                }, 500);
                return false;
            };
        })();
    </script>
</body>
</html>
